/************************ --- GLOBAL --- ***************************/
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
    font-family: Lato;
    font-weight: 500;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/************************************************** Header section */

header {
    background-color: #98d4a6;
    color: #fafafa;
} 

#hero-outer{
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

#hero-image{
  height: 100%;
  width: 100%;
  background: url("../images/logos/lwg-hero-image.png") repeat center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from{
    transform: scale(1.2);
  }
  to{
    transform: scale(1);
  }
}

#cover-text h2, #cover-text h3 {
  color: #ffffff;
}

#cover-text {
  font-size: 100%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 250px;
  height: 200px;

  padding-top: 10px;
  padding-left: 10px;

  background-color: rgba(134, 255, 94, 0.7);

  top: 0px;
  left: 0px;

  position: absolute;

}

.site-name, .site-scope {
    text-align: center;
}

.site-scope {
    margin-top: 20px;
    margin-bottom: 40px;
}

.nav-changes {
    width: 100%;
    text-align: left;
}

/************************************************* Content section */

.content-section {
    padding-top: 15px;
    padding-bottom: 15px;
}

.purpose-box p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-heading-icon {
    text-align: center;
    font-size: 30px;
}

.sub-heading-title h2 {
    text-align: center;
}

.cat-item {
    border-radius: 15px;
    border: 3px;
    color: #fafafa;
    width: 95%;
    height: 150px;
    max-height: fit-content;
    float: left;
    padding: 15% 5%;
    text-align: center;
    margin: 2% 3%;
    font-size: x-large;
}

/* --------------- Detailed List pages subheading formatting */
/*     (for HTML files bb-list, cb-list, o-list and ms-list) */

.listing-cat {
    border-radius: 5px;
    color: #fafafa;
    padding-left: 5px;
    padding-right: 5px;
}

/* --------------- Detailed organisation entries - padding and text alignment */

.org-entry {
    padding-top: 15px;
}

.org-icon-align {
    text-align: center;
}

.org-icon-size {
    max-height: 100px;
}

.org-name p, .org-email {
    margin-top :5px;
    margin-bottom: 0px;
    text-align: center;
}

/* --------------- Colours and images defining the four listing categories */

.bb-bg-color {
    background-color: #c7a903;
}

.bb-bg-image {
    height: 100%;
    width: 95%;
    background: url("../images/BB-in-action.jpg") repeat center center;
}

.bb-bg-image:hover {
    background: #c7a903 repeat center center;
}

.cb-bg-color {
    background-color: #6b7279;
}

.cb-bg-image {
    height: 100%;
    width: 95%;
    background: url("../images/CB-in-action.jpg") repeat center center;
}

.cb-bg-image:hover {
    background: #6b7279 repeat center center;
}

.o-bg-color {
    background-color: #917070;
}
.o-bg-image {
    height: 100%;
    width: 95%;
    background: url("../images/Orch-in-action.png") repeat center center;
}

.o-bg-image:hover {
    background: #917070 repeat center center;
}

.ms-bg-color {
    background-color: #008000;
}
.ms-bg-image {
    height: 100%;
    width: 95%;
    background: url("../images/MS-in-action.png") repeat center center;
}

.ms-bg-image:hover {
    background: #008000 repeat center center;
}

.changes-bg-color {
    background-color: slategrey;
}

/************************************************** Footer section */

footer {
    background-color: #98d4a6;
    color: #fafafa;
    padding-top: 15px;
    padding-bottom: 5px;
}

.submit-changes-btn {
    width: 40%;
    margin: 3% 30%;
    border-radius: 15px;
    background-color: slategrey;
    color: #fafafa;
    text-align: center;
}

.submit-changes-btn:hover {
    color: orange;
}

.submit-changes-text {
    padding: 10px 20px;
}

/* ---------------- Modal box formatting */

.modal-header {
    text-align: center;
}

.modal-content {
    background-color: #98d4a6;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    border-width: 2px;
    border-style: groove;
    border-color: darkgreen;
    border-image: initial;
    margin-bottom: 0.5rem;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    width: max-content;
    text-align: center;
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: 0.5rem;
}

.label-margin-bottom {
    margin-bottom: 0.1rem;
}

.text-input-half-width {
    width: 50%;
}

.form-control {
    height: calc(1em + .75rem + 2px);
}

.tom-align {
    text-align: center;
}

.drop-down-box {
    width: 45%;
    text-align: center;
    margin-left: 10px;
}

/************************************************** Media queries */


/* Small devices (landscape phones, up to 768px )        */
@media (max-width: 768px) { 
    .org-info-text {
        font-size: small;
    } 
}

/* Medium devices (tablets, 768px and up)                */
@media (min-width:768px) {
    .purpose-box p {
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }

    .sub-heading-icon {
        text-align: right;
    }
    .org-info-text {
        padding-top: 35px;
        font-size: medium;
    }

    .org-name p, .org-email {
        text-align: left;
    }
}

/* Large devices (desktops, 992px and up)                */
@media (min-width: 992px) { 
    .purpose-box p {
        text-align: center;
        padding-left: 150px;
        padding-right: 150px;
    }

    .org-info-text {
        padding-top: 28px;
        font-size: large;
    }    
}

/* Extra large devices (large desktops, 1200px and up)   */
@media (min-width: 1200px) {
    .purpose-box p {
        text-align: center;
        padding-left: 200px;
        padding-right: 200px;
    }
 
    .org-info-text {
        padding-top: 25px;
        font-size: x-large;
    }    
}